<h3>Female</h3>
<table>
<thead>
<tr><td>Name</td><td>Points</td><td>Score Penalty</td><td>Score Result</td></tr>
</thead>
<tbody>
<tr><td>Georgia</td><td>1100</td><td>-140</td><td>960</td></tr>
<tr><td>Beach Penguin</td><td>820</td><td>0</td><td>820</td></tr>
<tr><td>The Ori-o's</td><td>640</td><td>-20</td><td>620</td></tr>
<tr><td>Stephanie Smithson</td><td>690</td><td>-80</td><td>610</td></tr>
<tr><td>Viv Prince</td><td>540</td><td>0</td><td>540</td></tr>
<tr><td>Jocelyn Thrower</td><td>540</td><td>0</td><td>540</td></tr>
<tr><td>Not Over the Hill Yet</td><td>520</td><td>0</td><td>520</td></tr>
<tr><td>Hayley Campbell</td><td>490</td><td>0</td><td>490</td></tr>
<tr><td>Chantal Rosenhart</td><td>490</td><td>0</td><td>490</td></tr>
<tr><td>Tony McGuire</td><td>420</td><td>0</td><td>420</td></tr>
<tr><td>Jean Cory-Wright</td><td>580</td><td>-180</td><td>400</td></tr>
<tr><td>Rapid Thigh Movement</td><td>390</td><td>0</td><td>390</td></tr>
<tr><td>Jan Harrison</td><td>390</td><td>0</td><td>390</td></tr>
<tr><td>Emma Newman</td><td>420</td><td>-60</td><td>360</td></tr>
<tr><td>Just Get to the Start</td><td>410</td><td>-60</td><td>350</td></tr>
<tr><td>Lucy Prickett</td><td>320</td><td>0</td><td>320</td></tr>
<tr><td>Pussy Patrol</td><td>240</td><td>0</td><td>240</td></tr>
<tr><td>Tortoise and the hare</td><td>260</td><td>-20</td><td>240</td></tr>
<tr><td>BB</td><td>230</td><td>0</td><td>230</td></tr>
<tr><td>Team Twosie</td><td>190</td><td>0</td><td>190</td></tr>
<tr><td>Team Granola</td><td>180</td><td>0</td><td>180</td></tr>
<tr><td>Janelle Kew</td><td>310</td><td>-160</td><td>150</td></tr>
<tr><td>Team Jewels</td><td>110</td><td>0</td><td>110</td></tr>
<tr><td>Becky is Cool</td><td>120</td><td>-40</td><td>80</td></tr>
<tr><td>This ain't no Disco</td><td>250</td><td>-260</td><td>0</td></tr>
</tbody>
</table>
<br />
<h3>Male</h3>
<table>
<thead>
<tr><td>Name</td><td>Points</td><td>Score Penalty</td><td>Score Result</td></tr>
</thead>
<tbody>
<tr><td>Chris Forne</td><td>M</td><td>1500</td><td>-100</td><td>1400</td></tr>
<tr><td>Team 3-2-1</td><td>M</td><td>1500</td><td>-120</td><td>1380</td></tr>
<tr><td>Dominic Cleary</td><td>M</td><td>1010</td><td>-140</td><td>870</td></tr>
<tr><td>Dave Armstrong</td><td>M</td><td>980</td><td>-120</td><td>860</td></tr>
<tr><td>George's Baby!</td><td>M</td><td>880</td><td>-40</td><td>840</td></tr>
<tr><td>Alister Metherell</td><td>M</td><td>980</td><td>-160</td><td>820</td></tr>
<tr><td>Matt van der Peet</td><td>M</td><td>840</td><td>-40</td><td>800</td></tr>
<tr><td>Robert Jarvis</td><td>M</td><td>750</td><td>-40</td><td>710</td></tr>
<tr><td>Conal Boland-Bristow</td><td>M</td><td>790</td><td>-80</td><td>710</td></tr>
<tr><td>King Kong Dong</td><td>M</td><td>640</td><td>0</td><td>640</td></tr>
<tr><td>Mosgiel Eagle</td><td>M</td><td>630</td><td>0</td><td>630</td></tr>
<tr><td>Boris</td><td>M</td><td>600</td><td>0</td><td>600</td></tr>
<tr><td>Robert Holdaway</td><td>M</td><td>570</td><td>0</td><td>570</td></tr>
<tr><td>Ian Huntsman</td><td>M</td><td>600</td><td>-40</td><td>560</td></tr>
<tr><td>Graeme Read</td><td>M</td><td>540</td><td>0</td><td>540</td></tr>
<tr><td>Trev Merrifield</td><td>M</td><td>540</td><td>0</td><td>540</td></tr>
<tr><td>The Jabberwocky</td><td>M</td><td>760</td><td>-240</td><td>520</td></tr>
<tr><td>William MacManus</td><td>M</td><td>490</td><td>0</td><td>490</td></tr>
<tr><td>Rollywood</td><td>M</td><td>490</td><td>0</td><td>490</td></tr>
<tr><td>Chafing the Dream</td><td>M</td><td>490</td><td>-20</td><td>470</td></tr>
<tr><td>B & G</td><td>M</td><td>450</td><td>0</td><td>450</td></tr>
<tr><td>Trevor Batin</td><td>M</td><td>470</td><td>-40</td><td>430</td></tr>
<tr><td>Dave Elkington</td><td>M</td><td>420</td><td>0</td><td>420</td></tr>
<tr><td>Geoff Spark</td><td>M</td><td>370</td><td>0</td><td>370</td></tr>
<tr><td>Alison Tina</td><td>M</td><td>350</td><td>0</td><td>350</td></tr>
<tr><td>Peter Taylor</td><td>M</td><td>340</td><td>0</td><td>340</td></tr>
<tr><td>the Phill</td><td>M</td><td>290</td><td>-220</td><td>70</td></tr>
</tbody>
</table>
<br />
<h3>Mixed</h3>
<table>
<thead>
<tr><td>Name</td><td>Points</td><td>Score Penalty</td><td>Score Result</td></tr>
</thead>
<tbody>
<tr><td>Lost Control</td><td>X</td><td>970</td><td>-180</td><td>790</td></tr>
<tr><td>The Kicked a Moo Cow</td><td>X</td><td>800</td><td>-40</td><td>760</td></tr>
<tr><td>Cashmere G2G</td><td>X</td><td>750</td><td>0</td><td>750</td></tr>
<tr><td>Batmen</td><td>X</td><td>520</td><td>-80</td><td>440</td></tr>
<tr><td>Stu & B</td><td>X</td><td>420</td><td>0</td><td>420</td></tr>
<tr><td>Run BMC</td><td>X</td><td>380</td><td>0</td><td>380</td></tr>
<tr><td>2 out for a Night Walk</td><td>X</td><td>320</td><td>0</td><td>320</td></tr>
<tr><td>Swewis</td><td>X</td><td>260</td><td>0</td><td>260</td></tr>
<tr><td>Cashmoney</td><td>X</td><td>270</td><td>-40</td><td>230</td></tr>
<tr><td>Trinz High Performance</td><td>X</td><td>290</td><td>-60</td><td>230</td></tr>
<tr><td>Slippery Chickens</td><td>X</td><td>240</td><td>-60</td><td>180</td></tr>
<tr><td>Airbus</td><td>X</td><td>140</td><td>0</td><td>140</td></tr>
</tbody>
</table>
