<h3>Women</h3>
<table>
<thead>
<tr><th>Name</th><th>Week 1</th><th>Week 2</th><th>Week 3</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Jocelyn Thrower</td><td>810</td><td>630</td><td>900</td><td>2340</td></tr>
<tr><td>The Ori-o's</td><td>620</td><td>710</td><td>880</td><td>2210</td></tr>
<tr><td>Rapid Thigh Movement</td><td>810</td><td>480</td><td>770</td><td>2060</td></tr>
<tr><td>Emma Newman</td><td>620</td><td>360</td><td>600</td><td>1580</td></tr>
<tr><td>Not Over the Hill Yet</td><td>760</td><td>610</td><td>-</td><td>1370</td></tr>
<tr><td>Jean Cory-Wright</td><td>-</td><td>490</td><td>760</td><td>1250</td></tr>
<tr><td>Felony Rime Chaos</td><td>520</td><td>-</td><td>670</td><td>1190</td></tr>
<tr><td>Viv Prince</td><td>530</td><td>630</td><td>-</td><td>1160</td></tr>
<tr><td>Team Twosie</td><td>490</td><td>190</td><td>460</td><td>1140</td></tr>
<tr><td>Georgia</td><td>-</td><td>1050</td><td>-</td><td>1050</td></tr>
<tr><td>Just Get to the Start</td><td>560</td><td>440</td><td>-</td><td>1000</td></tr>
<tr><td>Janelle Kew</td><td>270</td><td>240</td><td>330</td><td>840</td></tr>
<tr><td>Beach Penguin</td><td>-</td><td>820</td><td>-</td><td>820</td></tr>
<tr><td>Sally Lochhead</td><td>-</td><td>-</td><td>800</td><td>800</td></tr>
<tr><td>Clem</td><td>-</td><td>-</td><td>760</td><td>760</td></tr>
<tr><td>Diana Johnston</td><td>700</td><td>-</td><td>-</td><td>700</td></tr>
<tr><td>Amy Horn</td><td>700</td><td>-</td><td>-</td><td>700</td></tr>
<tr><td>Stephanie Smithson</td><td>-</td><td>700</td><td>-</td><td>700</td></tr>
<tr><td>Becky is Cool</td><td>510</td><td>170</td><td>-</td><td>680</td></tr>
<tr><td>Pussy Patrol</td><td>420</td><td>240</td><td>-</td><td>660</td></tr>
<tr><td>Jan & Sophie</td><td>580</td><td>-</td><td>-</td><td>580</td></tr>
<tr><td>Hayley Campbell</td><td>-</td><td>580</td><td>-</td><td>580</td></tr>
<tr><td>Chantal Rosenhart</td><td>-</td><td>580</td><td>-</td><td>580</td></tr>
<tr><td>Michelle Prutton</td><td>570</td><td>-</td><td>-</td><td>570</td></tr>
<tr><td>Triorierstasaurus</td><td>-</td><td>-</td><td>520</td><td>520</td></tr>
<tr><td>Tony McGuire</td><td>-</td><td>510</td><td>-</td><td>510</td></tr>
<tr><td>Jan Harrison</td><td>-</td><td>480</td><td>-</td><td>480</td></tr>
<tr><td>Vivien Bloor</td><td>460</td><td>-</td><td>-</td><td>460</td></tr>
<tr><td>Fence Slitherers</td><td>410</td><td>-</td><td>-</td><td>410</td></tr>
<tr><td>Lucy Prickett</td><td>-</td><td>410</td><td>-</td><td>410</td></tr>
<tr><td>Fluro Flames</td><td>-</td><td>-</td><td>380</td><td>380</td></tr>
<tr><td>Frances Wall</td><td>-</td><td>-</td><td>380</td><td>380</td></tr>
<tr><td>Team Moxie</td><td>370</td><td>-</td><td>-</td><td>370</td></tr>
<tr><td>Val Rogers</td><td>370</td><td>-</td><td>-</td><td>370</td></tr>
<tr><td>Alison Tina</td><td>-</td><td>350</td><td>-</td><td>350</td></tr>
<tr><td>Kate & Sue</td><td>340</td><td>-</td><td>-</td><td>340</td></tr>
<tr><td>Tortoise and the hare</td><td>-</td><td>330</td><td>-</td><td>330</td></tr>
<tr><td>Amble in the Woods</td><td>320</td><td>-</td><td>-</td><td>320</td></tr>
<tr><td>Minions</td><td>310</td><td>-</td><td>-</td><td>310</td></tr>
<tr><td>Fast Lane</td><td>310</td><td>-</td><td>-</td><td>310</td></tr>
<tr><td>Hunt Gals</td><td>-</td><td>-</td><td>280</td><td>280</td></tr>
<tr><td>Team AJ</td><td>260</td><td>-</td><td>-</td><td>260</td></tr>
<tr><td>This ain't no Disco</td><td>260</td><td>0</td><td>-</td><td>260</td></tr>
<tr><td>Planks</td><td>-</td><td>-</td><td>250</td><td>250</td></tr>
<tr><td>J'st Cruisin</td><td>240</td><td>-</td><td>-</td><td>240</td></tr>
<tr><td>Ebba</td><td>-</td><td>-</td><td>240</td><td>240</td></tr>
<tr><td>BB</td><td>-</td><td>230</td><td>-</td><td>230</td></tr>
<tr><td>Team Jewels</td><td>-</td><td>200</td><td>-</td><td>200</td></tr>
<tr><td>The Hilll Ant</td><td>190</td><td>-</td><td>-</td><td>190</td></tr>
<tr><td>Anything Goes</td><td>190</td><td>-</td><td>-</td><td>190</td></tr>
<tr><td>Team Granola</td><td>-</td><td>180</td><td>-</td><td>180</td></tr>
</tbody>
</table>
<h3>Men</h3>
<table>
<thead>
<tr><th>Name</th><th>Week 1</th><th>Week 2</th><th>Week 3</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Mr Tumnus</td><td>1390</td><td>1490</td><td>1500</td><td>4380</td></tr>
<tr><td>Conal Boland-Bristow</td><td>1090</td><td>800</td><td>1040</td><td>2930</td></tr>
<tr><td>Carsten Joergensen</td><td>1240</td><td>1470</td><td>-</td><td>2710</td></tr>
<tr><td>Boris</td><td>810</td><td>690</td><td>1150</td><td>2650</td></tr>
<tr><td>Chafing the Dream</td><td>750</td><td>560</td><td>1030</td><td>2340</td></tr>
<tr><td>George's Bday!</td><td>600</td><td>840</td><td>900</td><td>2340</td></tr>
<tr><td>Graeme Read</td><td>650</td><td>630</td><td>940</td><td>2220</td></tr>
<tr><td>King Kong Dong</td><td>520</td><td>730</td><td>870</td><td>2120</td></tr>
<tr><td>Dominic Cleary</td><td>-</td><td>960</td><td>900</td><td>1860</td></tr>
<tr><td>Matt van der Peet</td><td>940</td><td>890</td><td>-</td><td>1830</td></tr>
<tr><td>Team Awol</td><td>730</td><td>-</td><td>1030</td><td>1760</td></tr>
<tr><td>Alister Metherell</td><td>800</td><td>910</td><td>-</td><td>1710</td></tr>
<tr><td>Robert Jarvis</td><td>840</td><td>800</td><td>-</td><td>1640</td></tr>
<tr><td>Ian Huntsman</td><td>-</td><td>650</td><td>940</td><td>1590</td></tr>
<tr><td>Dave Armstrong</td><td>630</td><td>950</td><td>-</td><td>1580</td></tr>
<tr><td>The Jabberwocky</td><td>920</td><td>520</td><td>-</td><td>1440</td></tr>
<tr><td>Robert Holdaway</td><td>740</td><td>660</td><td>-</td><td>1400</td></tr>
<tr><td>Fonterra Social Committe</td><td>650</td><td>-</td><td>680</td><td>1330</td></tr>
<tr><td>Geoff Spark</td><td>850</td><td>460</td><td>-</td><td>1310</td></tr>
<tr><td>Rollywood</td><td>610</td><td>580</td><td>-</td><td>1190</td></tr>
<tr><td>William MacManus</td><td>590</td><td>580</td><td>-</td><td>1170</td></tr>
<tr><td>Trev Merrifield</td><td>530</td><td>630</td><td>-</td><td>1160</td></tr>
<tr><td>Connor Cleary</td><td>-</td><td>-</td><td>980</td><td>980</td></tr>
<tr><td>Stephen Harding</td><td>-</td><td>-</td><td>980</td><td>980</td></tr>
<tr><td>Tom Harding</td><td>-</td><td>-</td><td>920</td><td>920</td></tr>
<tr><td>BTB</td><td>-</td><td>-</td><td>900</td><td>900</td></tr>
<tr><td>Peter Cleary</td><td>-</td><td>-</td><td>880</td><td>880</td></tr>
<tr><td>Phillip Wallace Phillipp Sueltrop</td><td>-</td><td>-</td><td>820</td><td>820</td></tr>
<tr><td>Dragons</td><td>810</td><td>-</td><td>-</td><td>810</td></tr>
<tr><td>Douglas Woods</td><td>810</td><td>-</td><td>-</td><td>810</td></tr>
<tr><td>Mosgiel Eagle</td><td>-</td><td>720</td><td>-</td><td>720</td></tr>
<tr><td>Zac Barber</td><td>690</td><td>-</td><td>-</td><td>690</td></tr>
<tr><td>Marcus</td><td>-</td><td>-</td><td>690</td><td>690</td></tr>
<tr><td>Hank Scorpio</td><td>-</td><td>-</td><td>680</td><td>680</td></tr>
<tr><td>Al Cory-Wright</td><td>670</td><td>-</td><td>-</td><td>670</td></tr>
<tr><td>Don Hunt</td><td>-</td><td>-</td><td>590</td><td>590</td></tr>
<tr><td>B & G</td><td>-</td><td>540</td><td>-</td><td>540</td></tr>
<tr><td>Dave Elkington</td><td>-</td><td>510</td><td>-</td><td>510</td></tr>
<tr><td>Richard English</td><td>500</td><td>-</td><td>-</td><td>500</td></tr>
<tr><td>Dougal & Ewan</td><td>-</td><td>-</td><td>470</td><td>470</td></tr>
<tr><td>Rupert & Harry</td><td>-</td><td>-</td><td>470</td><td>470</td></tr>
<tr><td>Spark</td><td>-</td><td>-</td><td>470</td><td>470</td></tr>
<tr><td>Trevor Batin</td><td>-</td><td>430</td><td>-</td><td>430</td></tr>
<tr><td>Peter Taylor</td><td>-</td><td>430</td><td>-</td><td>430</td></tr>
<tr><td>PANTS</td><td>420</td><td>-</td><td>-</td><td>420</td></tr>
<tr><td>Trinz High Performance</td><td>-</td><td>230</td><td>-</td><td>230</td></tr>
<tr><td>the Phill</td><td>-</td><td>160</td><td>-</td><td>160</td></tr>
</tbody>
</table>
<h3>Mixed</h3>
<table>
<thead>
<tr><th>Name</th><th>Week 1</th><th>Week 2</th><th>Week 3</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Kicked a Moo Cow</td><td>820</td><td>760</td><td>970</td><td>2550</td></tr>
<tr><td>Cashmere G2G</td><td>680</td><td>840</td><td>770</td><td>2290</td></tr>
<tr><td>Lost Control</td><td>830</td><td>880</td><td>-</td><td>1710</td></tr>
<tr><td>Meg & Aaron</td><td>840</td><td>-</td><td>-</td><td>840</td></tr>
<tr><td>The Dippers</td><td>750</td><td>-</td><td>-</td><td>750</td></tr>
<tr><td>Duckies + 1</td><td>-</td><td>-</td><td>730</td><td>730</td></tr>
<tr><td>The Dream Team</td><td>-</td><td>-</td><td>720</td><td>720</td></tr>
<tr><td>The Bolts</td><td>-</td><td>-</td><td>670</td><td>670</td></tr>
<tr><td>Stu and B</td><td>-</td><td>-</td><td>640</td><td>640</td></tr>
<tr><td>Jd & Olivia</td><td>610</td><td>-</td><td>-</td><td>610</td></tr>
<tr><td>Michael & Leah</td><td>610</td><td>-</td><td>-</td><td>610</td></tr>
<tr><td>Easy Riders</td><td>610</td><td>-</td><td>-</td><td>610</td></tr>
<tr><td>Lefties</td><td>560</td><td>-</td><td>-</td><td>560</td></tr>
<tr><td>Jute</td><td>-</td><td>-</td><td>560</td><td>560</td></tr>
<tr><td>Batmen</td><td>-</td><td>530</td><td>-</td><td>530</td></tr>
<tr><td>Cashmoney</td><td>280</td><td>230</td><td>-</td><td>510</td></tr>
<tr><td>Stu & B</td><td>-</td><td>510</td><td>-</td><td>510</td></tr>
<tr><td>Mincy Walkers</td><td>-</td><td>-</td><td>500</td><td>500</td></tr>
<tr><td>Jacob/Jess/Claudia</td><td>470</td><td>-</td><td>-</td><td>470</td></tr>
<tr><td>The Shitkickers</td><td>470</td><td>-</td><td>-</td><td>470</td></tr>
<tr><td>Run BMC</td><td>-</td><td>470</td><td>-</td><td>470</td></tr>
<tr><td>Team Stuandb</td><td>410</td><td>-</td><td>-</td><td>410</td></tr>
<tr><td>2 out for a Night Walk</td><td>-</td><td>410</td><td>-</td><td>410</td></tr>
<tr><td>Robbies & Sue</td><td>-</td><td>-</td><td>390</td><td>390</td></tr>
<tr><td>Catherine & Barr Ireland</td><td>380</td><td>-</td><td>-</td><td>380</td></tr>
<tr><td>Swewis</td><td>-</td><td>260</td><td>-</td><td>260</td></tr>
<tr><td>Slippery Chickens</td><td>-</td><td>180</td><td>-</td><td>180</td></tr>
<tr><td>Airbus</td><td>-</td><td>140</td><td>-</td><td>140</td></tr>
</tbody>
</table>
