<h3>Women</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Jocelyn Thrower</td><td>900</td><td>0</td><td>900</td></tr>
<tr><td>The Ori-o's</td><td>880</td><td>0</td><td>880</td></tr>
<tr><td>Sally Lochhead</td><td>800</td><td>0</td><td>800</td></tr>
<tr><td>Rapid Thigh Movement</td><td>770</td><td>0</td><td>770</td></tr>
<tr><td>Clem</td><td>760</td><td>0</td><td>760</td></tr>
<tr><td>Jean Cory-Wright</td><td>760</td><td>0</td><td>760</td></tr>
<tr><td>Felony Rime Chaos</td><td>670</td><td>0</td><td>670</td></tr>
<tr><td>Emma Newman</td><td>600</td><td>0</td><td>600</td></tr>
<tr><td>Triorierstasaurus</td><td>520</td><td>0</td><td>520</td></tr>
<tr><td>Team Twosie</td><td>460</td><td>0</td><td>460</td></tr>
<tr><td>Fluro Flames</td><td>380</td><td>0</td><td>380</td></tr>
<tr><td>Frances Wall</td><td>380</td><td>0</td><td>380</td></tr>
<tr><td>Janelle Kew</td><td>330</td><td>0</td><td>330</td></tr>
<tr><td>Hunt Gals</td><td>280</td><td>0</td><td>280</td></tr>
<tr><td>Planks</td><td>250</td><td>0</td><td>250</td></tr>
<tr><td>Ebba</td><td>240</td><td>0</td><td>240</td></tr>
</tbody>
</table>
<h3>Men</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Mr Tumnus</td><td>1500</td><td>0</td><td>1500</td></tr>
<tr><td>Boris</td><td>1150</td><td>0</td><td>1150</td></tr>
<tr><td>Conal Boland-Bristow</td><td>1040</td><td>0</td><td>1040</td></tr>
<tr><td>Chafing the Dream</td><td>1050</td><td>-20</td><td>1030</td></tr>
<tr><td>Team Awol</td><td>1030</td><td>0</td><td>1030</td></tr>
<tr><td>Connor Cleary</td><td>980</td><td>0</td><td>980</td></tr>
<tr><td>Stephen Harding</td><td>980</td><td>0</td><td>980</td></tr>
<tr><td>Ian Huntsman</td><td>940</td><td>0</td><td>940</td></tr>
<tr><td>Graeme Read</td><td>940</td><td>0</td><td>940</td></tr>
<tr><td>Tom Harding</td><td>940</td><td>-20</td><td>920</td></tr>
<tr><td>BTB</td><td>900</td><td>0</td><td>900</td></tr>
<tr><td>Dominic Cleary</td><td>900</td><td>0</td><td>900</td></tr>
<tr><td>George's Bday!</td><td>900</td><td>0</td><td>900</td></tr>
<tr><td>Peter Cleary</td><td>880</td><td>0</td><td>880</td></tr>
<tr><td>King Kong Dong</td><td>870</td><td>0</td><td>870</td></tr>
<tr><td>Phillip Wallace Phillipp Sueltrop</td><td>820</td><td>0</td><td>820</td></tr>
<tr><td>Marcus</td><td>690</td><td>0</td><td>690</td></tr>
<tr><td>Fonterra Social Committe</td><td>680</td><td>0</td><td>680</td></tr>
<tr><td>Hank Scorpio</td><td>680</td><td>0</td><td>680</td></tr>
<tr><td>Don Hunt</td><td>590</td><td>0</td><td>590</td></tr>
<tr><td>Dougal & Ewan</td><td>470</td><td>0</td><td>470</td></tr>
<tr><td>Rupert & Harry</td><td>470</td><td>0</td><td>470</td></tr>
<tr><td>Spark</td><td>470</td><td>0</td><td>470</td></tr>
</tbody>
</table>
<h3>Mixed</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Kicked a Moo Cow</td><td>970</td><td>0</td><td>970</td></tr>
<tr><td>Cashmere G2G</td><td>770</td><td>0</td><td>770</td></tr>
<tr><td>Duckies + 1</td><td>730</td><td>0</td><td>730</td></tr>
<tr><td>The Dream Team</td><td>720</td><td>0</td><td>720</td></tr>
<tr><td>The Bolts</td><td>670</td><td>0</td><td>670</td></tr>
<tr><td>Stu and B</td><td>660</td><td>-20</td><td>640</td></tr>
<tr><td>Jute</td><td>560</td><td>0</td><td>560</td></tr>
<tr><td>Mincy Walkers</td><td>500</td><td>0</td><td>500</td></tr>
<tr><td>Robbies & Sue</td><td>390</td><td>0</td><td>390</td></tr>
</tbody>
</table>
