<h3>Women</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Georgia</td><td>1190</td><td>-140</td><td>1050</td></tr>
<tr><td>Beach Penguin</td><td>820</td><td>0</td><td>820</td></tr>
<tr><td>The Ori-o's</td><td>730</td><td>-20</td><td>710</td></tr>
<tr><td>Stephanie Smithson</td><td>780</td><td>-80</td><td>700</td></tr>
<tr><td>Viv Prince</td><td>630</td><td>0</td><td>630</td></tr>
<tr><td>Jocelyn Thrower</td><td>630</td><td>0</td><td>630</td></tr>
<tr><td>Not Over the Hill Yet</td><td>610</td><td>0</td><td>610</td></tr>
<tr><td>Hayley Campbell</td><td>580</td><td>0</td><td>580</td></tr>
<tr><td>Chantal Rosenhart</td><td>580</td><td>0</td><td>580</td></tr>
<tr><td>Tony McGuire</td><td>510</td><td>0</td><td>510</td></tr>
<tr><td>Jean Cory-Wright</td><td>670</td><td>-180</td><td>490</td></tr>
<tr><td>Rapid Thigh Movement</td><td>480</td><td>0</td><td>480</td></tr>
<tr><td>Jan Harrison</td><td>480</td><td>0</td><td>480</td></tr>
<tr><td>Just Get to the Start</td><td>500</td><td>-60</td><td>440</td></tr>
<tr><td>Lucy Prickett</td><td>410</td><td>0</td><td>410</td></tr>
<tr><td>Emma Newman</td><td>420</td><td>-60</td><td>360</td></tr>
<tr><td>Alison Tina</td><td>350</td><td>0</td><td>350</td></tr>
<tr><td>Tortoise and the hare</td><td>350</td><td>-20</td><td>330</td></tr>
<tr><td>Pussy Patrol</td><td>240</td><td>0</td><td>240</td></tr>
<tr><td>Janelle Kew</td><td>400</td><td>-160</td><td>240</td></tr>
<tr><td>BB</td><td>230</td><td>0</td><td>230</td></tr>
<tr><td>Team Jewels</td><td>200</td><td>0</td><td>200</td></tr>
<tr><td>Team Twosie</td><td>190</td><td>0</td><td>190</td></tr>
<tr><td>Team Granola</td><td>180</td><td>0</td><td>180</td></tr>
<tr><td>Becky is Cool</td><td>210</td><td>-40</td><td>170</td></tr>
<tr><td>This ain't no Disco</td><td>250</td><td>-260</td><td>0</td></tr>
</tbody>
</table>
<h3>Men</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Mr Tumnus</td><td>1590</td><td>-100</td><td>1490</td></tr>
<tr><td>Carsten Joergensen</td><td>1590</td><td>-120</td><td>1470</td></tr>
<tr><td>Dominic Cleary</td><td>1100</td><td>-140</td><td>960</td></tr>
<tr><td>Dave Armstrong</td><td>1070</td><td>-120</td><td>950</td></tr>
<tr><td>Alister Metherell</td><td>1070</td><td>-160</td><td>910</td></tr>
<tr><td>Matt van der Peet</td><td>930</td><td>-40</td><td>890</td></tr>
<tr><td>George's Bday!</td><td>880</td><td>-40</td><td>840</td></tr>
<tr><td>Robert Jarvis</td><td>840</td><td>-40</td><td>800</td></tr>
<tr><td>Conal Boland-Bristow</td><td>880</td><td>-80</td><td>800</td></tr>
<tr><td>King Kong Dong</td><td>730</td><td>0</td><td>730</td></tr>
<tr><td>Mosgiel Eagle</td><td>720</td><td>0</td><td>720</td></tr>
<tr><td>Boris</td><td>690</td><td>0</td><td>690</td></tr>
<tr><td>Robert Holdaway</td><td>660</td><td>0</td><td>660</td></tr>
<tr><td>Ian Huntsman</td><td>690</td><td>-40</td><td>650</td></tr>
<tr><td>Graeme Read</td><td>630</td><td>0</td><td>630</td></tr>
<tr><td>Trev Merrifield</td><td>630</td><td>0</td><td>630</td></tr>
<tr><td>William MacManus</td><td>580</td><td>0</td><td>580</td></tr>
<tr><td>Rollywood</td><td>580</td><td>0</td><td>580</td></tr>
<tr><td>Chafing the Dream</td><td>580</td><td>-20</td><td>560</td></tr>
<tr><td>B & G</td><td>540</td><td>0</td><td>540</td></tr>
<tr><td>The Jabberwocky</td><td>760</td><td>-240</td><td>520</td></tr>
<tr><td>Dave Elkington</td><td>510</td><td>0</td><td>510</td></tr>
<tr><td>Geoff Spark</td><td>460</td><td>0</td><td>460</td></tr>
<tr><td>Trevor Batin</td><td>470</td><td>-40</td><td>430</td></tr>
<tr><td>Peter Taylor</td><td>430</td><td>0</td><td>430</td></tr>
<tr><td>Trinz High Performance</td><td>290</td><td>-60</td><td>230</td></tr>
<tr><td>the Phill</td><td>380</td><td>-220</td><td>160</td></tr>
</tbody>
</table>
<h3>Mixed</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Lost Control</td><td>1060</td><td>-180</td><td>880</td></tr>
<tr><td>Cashmere G2G</td><td>840</td><td>0</td><td>840</td></tr>
<tr><td>Kicked a Moo Cow</td><td>800</td><td>-40</td><td>760</td></tr>
<tr><td>Batmen</td><td>610</td><td>-80</td><td>530</td></tr>
<tr><td>Stu & B</td><td>510</td><td>0</td><td>510</td></tr>
<tr><td>Run BMC</td><td>470</td><td>0</td><td>470</td></tr>
<tr><td>2 out for a Night Walk</td><td>410</td><td>0</td><td>410</td></tr>
<tr><td>Swewis</td><td>260</td><td>0</td><td>260</td></tr>
<tr><td>Cashmoney</td><td>270</td><td>-40</td><td>230</td></tr>
<tr><td>Slippery Chickens</td><td>240</td><td>-60</td><td>180</td></tr>
<tr><td>Airbus</td><td>140</td><td>0</td><td>140</td></tr>
</tbody>
</table>
