<h3>Women</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Rapid Thigh Movement</td><td>810</td><td>0</td><td>810</td></tr>
<tr><td>Jocelyn Thrower</td><td>810</td><td>0</td><td>810</td></tr>
<tr><td>Not Over the Hill Yet</td><td>760</td><td>0</td><td>760</td></tr>
<tr><td>Diana Johnston</td><td>720</td><td>-20</td><td>700</td></tr>
<tr><td>Amy Horn</td><td>720</td><td>-20</td><td>700</td></tr>
<tr><td>The Ori-o's</td><td>620</td><td>0</td><td>620</td></tr>
<tr><td>Emma Newman</td><td>640</td><td>-20</td><td>620</td></tr>
<tr><td>Jan & Sophie</td><td>580</td><td>0</td><td>580</td></tr>
<tr><td>Michelle Prutton</td><td>590</td><td>-20</td><td>570</td></tr>
<tr><td>Just Get to the start</td><td>560</td><td>0</td><td>560</td></tr>
<tr><td>Viv Prince</td><td>550</td><td>-20</td><td>530</td></tr>
<tr><td>Felony Rime Chaos</td><td>520</td><td>0</td><td>520</td></tr>
<tr><td>Becky is Cool</td><td>510</td><td>0</td><td>510</td></tr>
<tr><td>Team Twosie</td><td>490</td><td>0</td><td>490</td></tr>
<tr><td>Vivien Bloor</td><td>460</td><td>0</td><td>460</td></tr>
<tr><td>Pussy Patrol</td><td>440</td><td>-20</td><td>420</td></tr>
<tr><td>Fence Slitherers</td><td>410</td><td>0</td><td>410</td></tr>
<tr><td>Team Moxie</td><td>370</td><td>0</td><td>370</td></tr>
<tr><td>Val Rogers</td><td>370</td><td>0</td><td>370</td></tr>
<tr><td>Kate & Sue</td><td>340</td><td>0</td><td>340</td></tr>
<tr><td>Amble in the Woods</td><td>320</td><td>0</td><td>320</td></tr>
<tr><td>Minions</td><td>310</td><td>0</td><td>310</td></tr>
<tr><td>Fast Lane</td><td>310</td><td>0</td><td>310</td></tr>
<tr><td>Janelle Kew</td><td>310</td><td>-40</td><td>270</td></tr>
<tr><td>Team AJ</td><td>260</td><td>0</td><td>260</td></tr>
<tr><td>This ain't no disco</td><td>260</td><td>0</td><td>260</td></tr>
<tr><td>J'st Cruisin</td><td>280</td><td>-40</td><td>240</td></tr>
<tr><td>The Hilll Ant</td><td>430</td><td>-240</td><td>190</td></tr>
<tr><td>Anything Goes</td><td>230</td><td>-40</td><td>190</td></tr>
</tbody>
</table>
<h3>Men</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Mr Tumnus</td><td>1530</td><td>-140</td><td>1390</td></tr>
<tr><td>Carsten Joergensen</td><td>1460</td><td>-220</td><td>1240</td></tr>
<tr><td>Conal Boland-Bristow</td><td>1130</td><td>-40</td><td>1090</td></tr>
<tr><td>Matt van der Peet</td><td>940</td><td>0</td><td>940</td></tr>
<tr><td>The Jabberwocky</td><td>920</td><td>0</td><td>920</td></tr>
<tr><td>Geoff Spark</td><td>850</td><td>0</td><td>850</td></tr>
<tr><td>Robert Jarvis</td><td>840</td><td>0</td><td>840</td></tr>
<tr><td>Dragons</td><td>810</td><td>0</td><td>810</td></tr>
<tr><td>Boris</td><td>810</td><td>0</td><td>810</td></tr>
<tr><td>Douglas Woods</td><td>830</td><td>-20</td><td>810</td></tr>
<tr><td>Alister Metherell</td><td>800</td><td>0</td><td>800</td></tr>
<tr><td>Chafing the dream</td><td>770</td><td>-20</td><td>750</td></tr>
<tr><td>Robert Holdaway</td><td>740</td><td>0</td><td>740</td></tr>
<tr><td>Team Awol</td><td>830</td><td>-100</td><td>730</td></tr>
<tr><td>Zac Barber</td><td>710</td><td>-20</td><td>690</td></tr>
<tr><td>Al Cory-Wright</td><td>670</td><td>0</td><td>670</td></tr>
<tr><td>Graeme Read</td><td>650</td><td>0</td><td>650</td></tr>
<tr><td>Fonterra Social Committe</td><td>670</td><td>-20</td><td>650</td></tr>
<tr><td>Dave Armstrong</td><td>790</td><td>-160</td><td>630</td></tr>
<tr><td>George's Bday!</td><td>600</td><td>0</td><td>600</td></tr>
<tr><td>William MacManus</td><td>590</td><td>0</td><td>590</td></tr>
<tr><td>Trev Merrifield</td><td>530</td><td>0</td><td>530</td></tr>
<tr><td>King Kong Dong</td><td>720</td><td>-200</td><td>520</td></tr>
<tr><td>Richard English</td><td>520</td><td>-20</td><td>500</td></tr>
<tr><td>PANTS</td><td>420</td><td>0</td><td>420</td></tr>
</tbody>
</table>
<h3>Mixed</h3>
<table>
<thead>
<tr><th>Name</th><th>Points</th><th>Penalty</th><th>Total</th></tr>
</thead>
<tbody>
<tr><td>Meg & Aaron</td><td>840</td><td>0</td><td>840</td></tr>
<tr><td>Lost Control</td><td>830</td><td>0</td><td>830</td></tr>
<tr><td>Kicked a Moo Cow</td><td>840</td><td>-20</td><td>820</td></tr>
<tr><td>The Dippers</td><td>750</td><td>0</td><td>750</td></tr>
<tr><td>Cashmere G2G</td><td>700</td><td>-20</td><td>680</td></tr>
<tr><td>Rollywood</td><td>610</td><td>0</td><td>610</td></tr>
<tr><td>Jd & Olivia</td><td>610</td><td>0</td><td>610</td></tr>
<tr><td>Michael & Leah</td><td>610</td><td>0</td><td>610</td></tr>
<tr><td>Easy Riders</td><td>730</td><td>-120</td><td>610</td></tr>
<tr><td>Lefties</td><td>560</td><td>0</td><td>560</td></tr>
<tr><td>Jacob/Jess/Claudia</td><td>470</td><td>0</td><td>470</td></tr>
<tr><td>The Shitkickers</td><td>470</td><td>0</td><td>470</td></tr>
<tr><td>Team Stuandb</td><td>410</td><td>0</td><td>410</td></tr>
<tr><td>Catherine & Barr Ireland</td><td>380</td><td>0</td><td>380</td></tr>
<tr><td>Cashmoney</td><td>280</td><td>0</td><td>280</td></tr>
</tbody>
</table>
